/* ------------------------
  Custom CSS 
   ------------------------*/
body{
  background-color:#333;
  /* padding-top: 50px; */
}

.responsive-col{
  color: white;
}
.carousel-watermark{
  height: 60px;
  width: auto;
  float: left;
}

/*----------------------------------------
Carousel Styles
----------------------------------------*/
#myCarousel {
  margin-top: 3px;
}

#myCarousel .item {	height:480px; }

#slide1 {
  background: url('../images/carousel/img-1.jpg') top center no-repeat;
}
#slide2 {
  background: url('../images/carousel/img-2.jpg') top center no-repeat;
}
#slide3 {
  background: url('../images/carousel/img-3.jpg') top center no-repeat;
}
#slide4 {
  background: url('../images/carousel/img-4.jpg') top center no-repeat;
}
#slide5 {
  background: url('../images/carousel/img-5.jpg') top center no-repeat;
}
#slide6 {
  background: url('../images/carousel/img-6.jpg') top center no-repeat;
}
#slide7 {
  background: url('../images/carousel/img-7.jpg') top center no-repeat;
}
#slide8 {
  background: url('../images/carousel/img-8.jpg') top center no-repeat;
}


#logo{
  max-height: 2.5rem;
}

#alert-btn{
  background-color: #0f4b21;
  padding: 1rem;
  color: white;
  border-radius: .5rem;
}

.img-display > img{
  max-height: 8rem;
  padding: .25rem;
  background-color: whitesmoke;
  border-radius: .25rem;
  margin: .5rem;
}
.img-display {
  display: inline;
}

@import '~bootstrap/dist/css/bootstrap.css';
